.Deal {
  font-style: normal;
  font-weight: 700;
  font-size: 22.4318px;
  line-height: 28px;
  text-align: center;

  color: #000000;
}
.inputings {
  width: 220px;
  height: 35px;
  /* left: 218px;
  top: 3521px; */
  margin-top: 20px;
  border: none;
  background: rgba(231, 218, 218, 0.6);
  border-radius: 4px;
}
.mubee {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */

  text-align: center;
  color: #000000;
}
.mubbe {
  width: 334px;
  height: 35px;
  /* left: 218px;
top: 3605px; */
  border: none;
  margin-top: 10px;
  background: #ffffff;
  border-radius: 4px;
}
.pork {
  width: 315px;
  height: 35px;
  /* left: 218px;
top: 3735px; */
  border: none;
  margin-top: 25px;
  background: rgba(231, 218, 218, 0.6);
  border-radius: 4px;
}
.pork1 {
  width: 220px;
  height: 35px;
  /* left: 218px;
top: 3779px; */
  border: none;
  margin-top: 10px;
  background: rgba(231, 218, 218, 0.6);
  border-radius: 4px;
}
.pork2 {
  width: 220px;
  height: 16px;
  /* left: 218px;
top: 3823px; */
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background: rgba(231, 218, 218, 0.6);
  border-radius: 4px;
}
.Bodies {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */

  /* text-align: center; */

  color: #ff0000;
}
.Room {
  margin-bottom: 20px;
}
.sony {
  margin-top: 10px;
}
.dams {
  width: 404px;
  height: 473px;
  /* left: 183px;
top: 3429px; */
  padding: 40px 35px;
  background: #f3f7fa;
}
.nasty {
  font-family: "Tiempos Headline";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 39px;

  color: #050505;
}
.nastyc {
  width: 470px;
  height: 107px;
  /* left: 755px;
top: 3591px; */

  font-family: "Apercu Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #000000;
}
.nastyd {
  background: #ff0000;
  box-shadow: 0px 67px 80px rgba(55, 52, 169, 0.07),
    0px 43.4259px 46.8519px rgba(55, 52, 169, 0.0531481),
    0px 25.8074px 25.4815px rgba(55, 52, 169, 0.0425185),
    0px 13.4px 13px rgba(55, 52, 169, 0.035),
    0px 5.45926px 6.51852px rgba(55, 52, 169, 0.0274815),
    0px 1.24074px 3.14815px rgba(55, 52, 169, 0.0168519);
  border-radius: 47px;
  width: 211px;
  height: 60px;
  color: #ffffff;
  border: none;
}
.deiza {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}
@media (max-width: 768px) {
  .deiza {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    gap: 30px;
  }
  .nasty {
    font-size: 40px;
  }
  .nastyc {
    font-size: 30px;
    width: 600px;
    line-height: 30px;
    padding-top: 20px;
    margin-bottom: 15%;
  }
  .nastyd {
    width: 371px;
    height: 50px;
  }
}
@media (max-width: 700px) {
  .nastyc {
    font-size: 20px;
    width: 400px;
    line-height: 30px;
    padding-top: 20px;
    margin-bottom: 15%;
  }
  .nastyd {
    margin-top: 30px;
  }
}
