.whay {
  display: flex;
  justify-content: center;
  padding-bottom: 10%;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 39px;
  color: #050505;
}
@media (max-width: 768px) {
  .whay {
    font-size: 40px;
    padding: 20% 0% 15% 0%;
  }
}
@media (max-width: 700px) {
  .whay {
    font-size: 30px;
    padding-left: 20px;
  }
}
